* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}

#maincontainer {
  position: relative;
}

#maincontainer .successdiv {
  position: absolute;
  top: 35%;
  left: 40%;
  width: 200px;
  display: none;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-radius: 4px;
  z-index: 3;
  background-color: #b2e0b5;
  padding: 1rem;
}

#maincontainer .successdiv .successcontainer {
  width: 100%;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#maincontainer .successdiv .successcontainer h3 {
  font-size: 15px;
  color: green;
}

#maincontainer .successdiv .successcontainer2 {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#maincontainer .successdiv .successcontainer2 img {
  width: 50px;
  height: 50px;
  mix-blend-mode: multiply;
}

#maincontainer .successdiv .successcontainer3 {
  margin-top: 0.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#maincontainer .successdiv .successcontainer3 button {
  outline: none;
  border: none;
  padding: 0.4rem 1.5rem;
  text-transform: uppercase;
  cursor: pointer;
}

#maincontainer .successdiv .successcontainer3 button:hover {
  background-color: #99b99f;
}

.main {
  height: 100vh;
  width: 100%;
  background-image: url(images/bgdesktop.png);
  background-color: #eb8484;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100vh;
  width: 100%;
}

.main .container .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 80%;
  width: 50%;
}

.main .container .wrapper .first {
  width: 85%;
  height: 500px;
  margin-left: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container .wrapper .first .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 4rem;
}

.main .container .wrapper .first .title h1 {
  font-size: 50px;
  line-height: 1.3;
  color: white;
}

.main .container .wrapper .first .description {
  margin-top: 2rem;
  padding-left: 4rem;
  color: white;
}

.main .container .wrapper2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 80%;
  width: 50%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .container .wrapper2 .second {
  width: 85%;
  height: 500px;
  margin-right: 5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main .container .wrapper2 .second .title2 {
  padding: 0.7rem 0.5rem;
  width: 90%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 10px;
  background-color: #2020b1;
  -webkit-box-shadow: 0px 8px 0px 0px #c57f7f;
          box-shadow: 0px 8px 0px 0px #c57f7f;
}

.main .container .wrapper2 .second .title2 p {
  color: #dfcfbd;
}

.main .container .wrapper2 .second .title2 p span {
  color: white;
  font-weight: 700;
}

.main .container .wrapper2 .second .container2 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 1.3rem;
  -webkit-box-shadow: 0px 8px 0px 0px #c57f7f;
          box-shadow: 0px 8px 0px 0px #c57f7f;
  width: 90%;
  height: 100%;
  background-color: white;
  border-radius: 10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .container .wrapper2 .second .container2 .wrappercontainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 2.2rem;
  height: 90%;
  width: 100%;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.main .container .wrapper2 .second .container2 .wrappercontainer .firstnamediv {
  width: 100%;
  position: relative;
}

.main .container .wrapper2 .second .container2 .wrappercontainer .firstnamediv .firstnamechild {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  top: 45px;
  height: 22px;
}

.main .container .wrapper2 .second .container2 .wrappercontainer .lastnamediv {
  width: 100%;
  position: relative;
}

.main .container .wrapper2 .second .container2 .wrappercontainer .lastnamediv .lastnamechild {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  top: 46px;
  height: 22px;
}

.main .container .wrapper2 .second .container2 .wrappercontainer .emaildiv {
  width: 100%;
  position: relative;
}

.main .container .wrapper2 .second .container2 .wrappercontainer .emaildiv .emailchild {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  top: 46px;
  height: 22px;
}

.main .container .wrapper2 .second .container2 .wrappercontainer .passdiv {
  width: 100%;
  position: relative;
}

.main .container .wrapper2 .second .container2 .wrappercontainer .passdiv .fa-eye-slash {
  display: inline;
  margin-left: -50px;
  font-size: 22px;
  cursor: pointer;
  position: relative;
  top: 5px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  outline: none;
}

.main .container .wrapper2 .second .container2 .wrappercontainer .passdiv .fa-eye {
  display: none;
  margin-left: -48px;
  font-size: 22px;
  cursor: pointer;
  position: relative;
  top: 5px;
  -webkit-transition: all 0.5s ease-in;
  transition: all 0.5s ease-in;
  outline: none;
}

.main .container .wrapper2 .second .container2 .wrappercontainer .passdiv .passchild {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  position: absolute;
  top: 46px;
  height: 23px;
}

.main .container .wrapper2 .second .container2 .wrappercontainer div {
  width: 100%;
}

.main .container .wrapper2 .second .container2 .wrappercontainer #firstnameinput {
  padding: 0.8rem 1.8rem;
  outline: none;
  border-radius: 5px;
  border: 1px solid grey;
  margin-bottom: 20px;
  width: 100%;
}

.main .container .wrapper2 .second .container2 .wrappercontainer #lastnameinput {
  padding: 0.8rem 1.8rem;
  outline: none;
  border-radius: 5px;
  border: 1px solid grey;
  margin-bottom: 20px;
  width: 100%;
}

.main .container .wrapper2 .second .container2 .wrappercontainer #emailaddressinput {
  padding: 0.8rem 1.8rem;
  outline: none;
  border-radius: 5px;
  border: 1px solid grey;
  margin-bottom: 20px;
  width: 100%;
}

.main .container .wrapper2 .second .container2 .wrappercontainer #passwordinput {
  padding: 0.8rem 1.8rem;
  outline: none;
  border-radius: 5px;
  border: 1px solid grey;
  margin-bottom: 20px;
  width: 100%;
}

.main .container .wrapper2 .second .container2 .wrappercontainer button {
  padding: 0.8rem 0rem;
  text-transform: uppercase;
  font-size: 15px;
  outline: none;
  border-radius: 5px;
  border: 1px solid grey;
  background-color: #4aaf4a;
  color: white;
  cursor: pointer;
  margin-top: 2px;
}

.main .container .wrapper2 .second .container2 .wrappercontainer p {
  font-size: 12px;
  text-align: center;
  margin-top: 1rem;
  color: #756b6b;
}

.main .container .wrapper2 .second .container2 .wrappercontainer p span {
  color: red;
  font-weight: bold;
}

.main .author {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
  font-size: 15px;
}

.main .author p {
  color: black;
}

.main .author p a {
  text-decoration: none;
}

.main .author p a span {
  color: #2f2f77;
}

@media (max-width: 572px) {
  .main {
    padding: 2rem 0;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .main .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
  }
  .main .container .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
  }
  .main .container .wrapper .first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .main .container .wrapper .first .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 80%;
    padding-left: 0;
  }
  .main .container .wrapper .first .title h1 {
    font-size: 36px;
  }
  .main .container .wrapper .first .description {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
  .main .container .wrapper2 {
    padding-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
  }
  .main .container .wrapper2 .second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .container .wrapper2 .second .title2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 70px;
  }
  .main .container .wrapper2 .second .container2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 70px;
  }
  .main .container .wrapper2 .second .container2 .wrappercontainer {
    margin-top: 4px;
  }
  .main .author {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    font-size: 15px;
  }
}

@media (max-width: 480px) {
  .main {
    padding: 2rem 0;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .main .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
  }
  .main .container .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
  }
  .main .container .wrapper .first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .main .container .wrapper .first .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 80%;
    padding-left: 0;
  }
  .main .container .wrapper .first .title h1 {
    font-size: 36px;
  }
  .main .container .wrapper .first .description {
    width: 100%;
    height: 100%;
    margin-top: 15px;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
  .main .container .wrapper2 {
    padding-top: 2rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
  }
  .main .container .wrapper2 .second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .container .wrapper2 .second .title2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 70px;
  }
  .main .container .wrapper2 .second .container2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-left: 70px;
  }
  .main .container .wrapper2 .second .container2 .wrappercontainer {
    margin-top: 4px;
  }
  .main .author {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    font-size: 15px;
  }
}

@media (max-width: 360px) {
  .main {
    padding: 2rem 0;
    width: 100%;
    height: 100%;
    background-size: cover;
  }
  .main .container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
  }
  .main .container .wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
  }
  .main .container .wrapper .first {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    width: 100%;
    height: 100%;
    margin: 0;
  }
  .main .container .wrapper .first .title {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    width: 80%;
    padding-left: 0;
  }
  .main .container .wrapper .first .title h1 {
    font-size: 24px;
  }
  .main .container .wrapper .first .description {
    width: 80%;
    height: 100%;
    margin-top: 15px;
    padding-left: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    text-align: center;
  }
  .main .container .wrapper .first .description p {
    font-size: 13px;
  }
  .main .container .wrapper2 {
    padding-top: 3rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 100%;
    width: 100%;
  }
  .main .container .wrapper2 .second {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .main .container .wrapper2 .second .title2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 75px;
    width: 300px;
  }
  .main .container .wrapper2 .second .title2 p {
    font-size: 12px;
  }
  .main .container .wrapper2 .second .container2 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 290px;
    margin-left: 75px;
  }
  .main .container .wrapper2 .second .container2 .wrappercontainer {
    margin-top: 4px;
  }
  .main .author {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
    font-size: 13px;
  }
}
/*# sourceMappingURL=styles.css.map */